* {
    margin-bottom: 0;
    margin-top: 5px;

}

body {
    font-family: arial, helvetica, lato, "Time New Roman", sans-serif;
    font-weight: 400;
    line-height: 1.45;
    font-size: 1em;
    background-color: #000000;
    color: #FFFFFF;

}

*::after {}

*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.6;
    /*font-family: font stack required for body text */
}

h1,
h2,
h3,
h4 {
    font-family: serif;
    font-size: 30px;
    color: #FF4500;
    margin-top: 30px;
    margin-bottom: 20px;
    /*font-family: font stack required for headings */
}

p {
    font-family: sans-serif;
}

.container {
    max-width: 1500px;

}

.subnav {
    display: flex;
    justify-content: flex-end;

}


.subnav a {
    display: inline-block;
    width: 100px;
    color: #FFFFFF;
}

.mainnav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    background: #000000;
    font-size: 19px;
    position: sticky;
    top: 0px;
    border-top: 1px solid #fff;

}

.mainnav a {
    font-family: lato;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 50px;

}

.mainnav a:hover {
    background-color: #F00;
}

.masthead {
    justify-content: flex-start;
}

.times-logo {
    margin-top: -50px;
    margin-top: 10px;
    width: 100%;
    height: auto;
}

.masthead h1 {
    margin-left: 5rem;
    font-size: 4rem;
}

.content {
    margin: 50px;

}

.content .story {}

.story.lead-story:hover {
    color: #FA8072;

}

h1.story-title {
    font-family: serif;
}

.story img {
    float: right;
    width: 300px;
    margin-left: 2rem;
    margin-bottom: 0.5rem;

}

.story p {
    font-size: 18px;
}

.story blockquote {
    quotes: "\201E""\201D";
}

.story blockquote::before {
    content: open-quote;
}

.story blockquote::after {
    content: close-quote;
}

.story p.byline {
    font-size: 12px;

}

p.byline span.author {
    font-size: 13px;
    color: #00BFFF;
}

p.byline span.pub {
    font-style: italic;
}

.foot {
    background-color: #2F4F4F;
    height: 80px;
    line-height: 80px;
    margin-top: 40px;
}

.foot p {
    font-family: helveetica;
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
}
